/* sunflower-300 - latin_korean */
@font-face {
font-family: 'Sunflower';
font-style: normal;
font-weight: 300;
src: url('../fonts/sunflower-v6-latin_korean-300.eot'); /* IE9 Compat Modes */
src: local('Sunflower Light'), local('Sunflower-Light'),
		url('../fonts/sunflower-v6-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/sunflower-v6-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sunflower-v6-latin_korean-300.woff') format('woff'), /* Modern Browsers */
		url('../fonts/sunflower-v6-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sunflower-v6-latin_korean-300.svg#Sunflower') format('svg'); /* Legacy iOS */
}
/* sunflower-500 - latin_korean */
@font-face {
font-family: 'Sunflower';
font-style: normal;
font-weight: 500;
src: url('../fonts/sunflower-v6-latin_korean-500.eot'); /* IE9 Compat Modes */
src: local('Sunflower Medium'), local('Sunflower-Medium'),
		url('../fonts/sunflower-v6-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/sunflower-v6-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sunflower-v6-latin_korean-500.woff') format('woff'), /* Modern Browsers */
		url('../fonts/sunflower-v6-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sunflower-v6-latin_korean-500.svg#Sunflower') format('svg'); /* Legacy iOS */
}
/* sunflower-700 - latin_korean */
@font-face {
font-family: 'Sunflower';
font-style: normal;
font-weight: 700;
src: url('../fonts/sunflower-v6-latin_korean-700.eot'); /* IE9 Compat Modes */
src: local('Sunflower Bold'), local('Sunflower-Bold'),
		url('../fonts/sunflower-v6-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/sunflower-v6-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sunflower-v6-latin_korean-700.woff') format('woff'), /* Modern Browsers */
		url('../fonts/sunflower-v6-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sunflower-v6-latin_korean-700.svg#Sunflower') format('svg'); /* Legacy iOS */
}