// grid enable
$enable-grid-classes:true;
$theme-colors: (
    "primary": #51b1ff, 
    "warning": #ebe726, 
    "danger": #F67280, 
    "dark": #151629, 
    "light": #f7faff
    );

// Include all of Bootstrap
@import "../../bower_components/bootstrap/scss/bootstrap";

// 여기부터 색상은 기존 부트스트랩 색상으로 먹힌다. 원인찾기! //


/**
 *
 * new css
 *
 */


// body 
body {
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}Sunflower
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

// top Nav
.topNav {
    z-index: 10;
}

.topNav.scrolled {
    background: rgba(000, 000, 000, 0.7);
    transition: background-color 200ms linear;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 1rem;
        color: #fff !important;
        padding: 1rem !important;
    }
}

// 메인화면 이미지
.main-feature::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(000, 000, 000, 0.5);
}

.main-feature {
    position: relative;
    height: 900px;
    z-index: 0;
    background: url(../images/engineering-1064005_1920.jpg) no-repeat center / cover;
}

.main-feature .navbar {
    z-index: 2;
}

.main-content {
    padding: 200px 0;
}